site_name: Hardhat Arbitrum Stylus
site_description: Hardhat plugin suite for Arbitrum Stylus development
site_url: https://cobuilders-xyz.github.io/hardhat-arbitrum-stylus
repo_name: CoBuilders-xyz/hardhat-arbitrum-stylus
repo_url: https://github.com/CoBuilders-xyz/hardhat-arbitrum-stylus

docs_dir: src

theme:
  name: material
  palette:
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: custom
      accent: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: custom
      accent: yellow
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/CoBuilders-xyz/hardhat-arbitrum-stylus
    - icon: fontawesome/brands/npm
      link: https://www.npmjs.com/package/@cobuilders/hardhat-arbitrum-stylus

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true

plugins:
  - search

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Plugins:
      - Overview: plugins/index.md
      - Node: plugins/node.md
      - Compile: plugins/compile.md
      - Deploy: plugins/deploy.md
      - Test: plugins/test.md
  - Configuration: configuration.md
  - Guides:
      - Local Development: guides/local-development.md
      - Troubleshooting: guides/troubleshooting.md
  - Tutorial: tutorial.md
  - For Contributors:
      - Architecture: contributors/architecture.md
      - Development: contributors/development.md
      - Versioning: contributors/versioning.md
